---
smtp_accounts:
  - name: sendmail
    password: "harsh6100"
    port: 587
    secure: true
    server: "smtp.gmail.com"
    smtp_auth: true
    username: "stackstorm.alert@gmail.com
  - name: you
    password: "topsecret!"
    port: 587
    secure: true
    server: "smtp.example.com"
    smtp_auth: true
    username: "you@example.com"
imap_accounts:
  - name: me
    download_attachments: true
    folder: "INBOX"
    password: "super_S3c4e3t!"
    port: 993
    secure: true
    server: "imap.example.com"
    username: "me@example.com"
  - name: you
    download_attachments: true
    folder: "INBOX"
    password: "topsecret!"
    port: 993
    secure: true
    server: "imap.gmail.com"
    username: "you@example.com"
max_attachment_size: 1024
attachment_datastore_ttl: 1800
sensor_smtp_listen_ip: '108.177.126.108'
sensor_smtp_listen_port: 587
